.navbar {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 96%;
  margin: 2%;
  padding-top: 136px;
  z-index: 1;

  .background-frame {
    position: absolute;
    stroke-width: 1px;
    stroke: var(--Surface-Surface-Yellow-01, #fbfae3);
    width: 98%;
    margin-top: -156px;
    z-index: 1;
  }

  .link {
    z-index: 3;
    a {
      text-decoration: none;
      color: var(--icon-Icon-01, #fbfae3);
      text-shadow: 0px 4px 5.5px var(--Shadow-Shadow-01, #1e1e1e);
      -webkit-text-stroke-width: 0.5;
      -webkit-text-stroke-color: var(--Border-Border-03, #221700);
      font-family: Metropolis1920;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .logo {
    fill: var(--colour-brand-yellow-1, #fbfae3);
    stroke-width: 0.5px;
    stroke: var(--Border-Border-03, #221700);
    filter: drop-shadow(0px 4px 5.5px var(--Shadow-Shadow-01, #1e1e1e));
  }
}
