.homepage {
  width: 100%;
  margin: 0;
  padding: 0;

  .top-section {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bottom-section {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
