.ourplace {
  position: relative;
  background: #120c00;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 80px;

  .top-frame {
    position: absolute;
    width: 98%;
    margin: 1%;
    z-index: 1;
  }

  .bottom-frame {
    position: absolute;
    width: 98%;
    margin: 1%;
    z-index: 1;
    rotate: 180deg;
    margin-top: -280px;
  }

  .title {
    width: 283px;
    height: 54px;
    padding-top: 125px;
    padding-left: calc(50% - 141px);
    margin-bottom: 85px;
    color: #9a8c0c;
    font-family: Metropolis1920;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    color: #9a8c0c;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .barista {
    display: flex;
    flex-direction: column;
    margin-top: 91px;
    margin-left: calc(50% - 131px);
    margin-bottom: 96px;
    img {
      width: 263px;
      height: 291px;
    }
    span {
      color: #9a8c0c;
      font-family: Inter;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .main-banner {
    width: 100%;
    margin-bottom: 48px;
    img {
      width: 100%;
    }
  }

  .bottom-banners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 180px;
  }
}
